<% @recipes.each do |recipe| %>
  <h2><a href="/client/recipes/<%= recipe["id"] %>"><%= recipe["title"] %></a></h2>
  <h3>Chef: <%= recipe["chef"] %></h3>
  <h4>Ingredients: <%= recipe["ingredients"] %></h4>
  <h4>Directions: <%= recipe["directions"] %></h4>
  <br>
<% end %>