<h2><%= @recipe["title"] %></h2>
<h3>Prep Time: <% @recipe["formatted"]["prep_time"]</h3>
<h3>Chef: <%= @recipe["chef"] %></h3>

<h4>Ingrdients</h4>
<ul>
  <% @recipe["ingredients"].each do |ingredient| %>
  <li><%= ingredient %></li>

  <% end %>

</ul>
<ol>
<h4>Directions:</h4>
<% @recipe["directions"].each do |direction| %>
<li><%= direction %></li>
<% end %>

</ol>
<img src="<% @recipe['imague_url'] %>" alt="">
<br>

<a href="/client/recipes"<% @recipe['id'] %>/edit">EDIT'></a>
<a href=""/client/recipes"<% @recipe['id'] %>" data-method="delete">Delete</a>



<h6>created on <%= @recipe["formatted"]["created_at"]</h6>