<!DOCTYPE html>
<html>
  <head>
    <title>CookbookClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href='/'>Home</a>
    <a href="/client/recipes/new"> New Recipe</a>
    
      <% flash.each do |name, message| %>
        <%= message %>
      <% end %>

    <%= yield %>
  </body>
</html>
